h4{
    margin-left: 20px; /* Отступ слева */
   }
.round {
    border-radius: 15px; /* Радиус скругления */
    border: 4px solid red; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }
.round_gif {
    border-radius: 15px; /* Радиус скругления */
    border: 4px solid blue; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }
td {
  padding: 15px;
  padding-left: 20px;
}
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}
.center-img {
  text-align: center;
}
entry{
    margin-right:50%;
}