@media (min-width: 0px) and (max-width: 700px) {
    svg{
        transform: scale(0.82, 0.7);

    }
    h1, h2, h3, h4, h5, h6 {
            font-size: 95%;
    }
    img{
        width: 100%;
    }
    .welcome{
        width: 100%;
    }
    .container{
        width: 70%:
    }
    .round{
        width:50%
    }
    .dropdown{
        width:30%;
    }
    .card-img-top{
        width: 100%;
    }
    /*.card{
        width: 100px;
        height: 250px;
    }*/
    table{
        border-spacing: 5px;
    }
    td{
        padding: 1px;
        -weblit-padding: 1px;
    }
}
@media (min-width: 700px) {
    .round{
        width:100%
    }
    svg{
        transform: scale(1, 0.84);

    }
    h1, h2, h3, h4, h5, h6 {
            font-size: 175%;
    }
    img{
        width: 100%;
    }
    .welcome{
        width: 55%;
    }
    .container{
        width: 95%:
    }
    .dropdown{
        width:6%;
    }
    .card-img-top{
        width: 100%;
    }
    /*.card{
        width: 295px;
        height: 400px;
    }*/
    table{
        border-spacing: 30px;
    }
    td {
        -weblit-padding: 15px;
        -weblit-padding-left: 20px;
      padding: 15px;
      padding-left: 20px;
    }
}

.card{
    font-size:50%;
    /*width: 295px;*/
}
h4{
    -weblit-margin-left: 20px; /* Отступ слева */
    margin-left: 20px; /* Отступ слева */
   }
.round {
    -weblit-border-radius: 10px; /* Радиус скругления */
    /*border: 3px solid red;*/
    /* Параметры рамки */
    -weblit-box-shadow: 0 0 7px #666; /* Параметры тени */
    -weblit-width: 60px;
    -weblit-height: 60px;
    border-radius: 10px; /* Радиус скругления */
    /*border: 3px solid red;*/
    /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    /*width: 60px;
    height: 60px;*/
   }
.round_gif {
    -weblit-border-radius: 15px; /* Радиус скругления */
    -weblit-border: 4px solid blue; /* Параметры рамки */
    -weblit-box-shadow: 0 0 7px #666; /* Параметры тени */
    border-radius: 15px; /* Радиус скругления */
    border: 4px solid blue; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    width: 60%;
   }

.testcss {
    -weblit-href:"/static/css/light.css";
    href:"/static/css/light.css";
}
.card:hover {
    -weblit-transform: scale(1.05);
    transform: scale(1.05);
}
.bd-example {
    -weblit-position: relative;
    -weblit-padding: 1rem;
    -weblit-margin: 1rem -.75rem 0;
    -weblit-border: solid #dee2e6;
    -weblit-border-width: 1px 0 0;
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}
.center-img {
  text-align: center;
    -weblit-text-align: center;
}
entry{
    -weblit-margin-right:50%;
    margin-right:50%;
}
.btn{
    font-size: 60%;
}
.btn-primary:hover {
    -weblit-box-shadow: 0 8px 65px -5px #007bff;
    box-shadow: 0 8px 65px -5px #007bff;
}
.btn-success:hover {
    -weblit-box-shadow: 0 8px 65px -5px #4ff75a;
    box-shadow: 0 8px 65px -5px #4ff75a;
}
.btn-danger:hover {
    -weblit-box-shadow: 0 8px 65px -5px #f53d3d;
    box-shadow: 0 8px 65px -5px #f53d3d;
}
.blink-1 {
    -weblit-animation-delay: 0s;
    animation-delay: 0s;
}

.bulb {
    -webkit-animation-name: glow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@-webkit-keyframes glow {
    0% {
        -webkit-fill-opacity: 0.25;
    }
    100% {
        -webkit-fill-opacity: 1
    }
}

@keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1
    }
}
