{% extends "template.html" %}

{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/user_images/{{ id }}.png" align="right" width="65" height="65"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"><h4><font color="blue">{{ name }}</font></h4>
                Настройка пользователя</li>
            <li><a class="dropdown-item" href="/">Выйти</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="/weblearn">Посмотреть уроки</a></li>
        </ul>
    </div>
{% else %}
    </br></br></br>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post" style="colot: #0044ff" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% if err %}
        <div class="alert alert-danger" role="alert"><h2 align="right"><font color="red">{{ err }}</font></h2></div>
        {% endif %}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.top_image.label }}<br>
            {{ form.top_image(class="form-control-file") }}<br>
            {% for error in form.top_image.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.items.label }}<br>
            {{ form.items(class="form-control") }}<br>
            {% for error in form.items.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.images.label }}<br>
            {{ form.images(class="form-control-file") }}<br>
            {% for error in form.images.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.test.label }}
            {{ form.test(class="form") }}
            {% for error in form.test.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <a href="/weblearn/page={{ id }}" style="float: left;" class="btn btn-danger">Назад
        </a>
        <p align="right">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}