{% extends "template.html" %}

{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/{{ id }}.png" align="right" width="60" height="60"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Настройка пользователя</li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
{% else %}
    </br></br>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.top_image.label }}<br>
            {{ form.top_image(class="form-control-file") }}<br>
            {% for error in form.top_image.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.images.label }}<br>
            {{ form.images(class="form-control-file") }}<br>
            {% for error in form.images.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.test.label }}
            {{ form.test(class="form") }}
            {% for error in form.test.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <a href="/weblearn/{{ id }}" style="float: left;" class="btn btn-danger">Назад
        </a>
        <p align="right">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}