{% extends "template.html" %}

{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/user_images/{{ id }}.png" align="right"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"><h4><font color="blue">{{ name }}</font></h4>
                Настройка пользователя</li>
            <li><a class="dropdown-item" href="/">Выйти</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="/weblearn">Посмотреть уроки</a></li>
        </ul>
    </div>
{% else %}
    </br></br></br>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <h3 align="center" class="mainText">Добавьте вопрос в тест</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question.label }}<br>
            {{ form.question(class="form-control") }}<br>
            {% for error in form.question.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <div class="form-group">
        <p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="var" id="1" value="1" checked>
            {{ form.variants_f.label }}<br>
            {{ form.variants_f(class="form-control") }}<br>
            </div>
            {% for error in form.variants_f.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="var" id="2" value="2">
            {{ form.variants_s.label }}<br>
            {{ form.variants_s(class="form-control") }}<br>
            </div>
            {% for error in form.variants_s.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="var" id="3" value="3">
            {{ form.variants_t.label }}<br>
            {{ form.variants_t(class="form-control") }}<br>
            </div>
            {% for error in form.variants_t.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="var" id="4" value="4">
            {{ form.variants_fo.label }}<br>
            {{ form.variants_fo(class="form-control") }}<br>
            </div>
            {% for error in form.variants_fo.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image(class="form-control-file") }}<br>
            {% for error in form.image.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        {% endfor %}
        </p>
        <a href="/weblearn" style="float: left;" class="btn btn-danger">Завершить тест</a>
        <p align="right">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}