{% extends "template.html" %}

{% block content %}
<div class="container">
    <h3 align="center"><font color="blue">Здесь распологаются уроки с заданиями к ним</font></h3></div>
    <br><br>
    <table class="table.table-borderless" border-spacing="50px" align="center">
        <tr>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
            <td><div class="card" style="width: 18rem;">
                <img src="/static/img/porsche_1600x1200.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make
                        up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div></td>
        </tr>
    </table>
</div>
{% endblock %}