{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <br>
        <h1 align="center">Добро пожаловать!</h1>
        <br>
        <p class="center-img">
            <img src="{{ url_for('static', filename='img/hello.gif') }}" class="round_gif" width="50%" height="50%">
        </p>
        <br>
        <a href="/entry" style="position: relative; float: left; left: 6%;" class="btn btn-primary"><h2>Вход</h2>
        </a>
        <a href="/register" style="position: relative; float: right; right: 6%;" class="btn btn-success"><h2>Регистрация</h2></a>
        <br><br><br>
    </div>
</div>
{% endblock %}