{% extends "template.html" %}
{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/user_images/{{ id }}.png" align="right" width="65" height="65"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"><h4><font color="blue">{{ name }}</font></h4>
                Настройка пользователя</li>
            <li><a class="dropdown-item" href="/">Выйти</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="/weblearn">Посмотреть уроки</a></li>
        </ul>
    </div>
{% else %}
</br></br></br>
{% endif %}
{% endblock %}
{% block content %}
<h3 align="center"><font color="blue">Тест завершён</font></h3></br></br></br>
<div class="container" style="width: 70%;">
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ t }}%"
             aria-valuenow="{{ t }}"
             aria-valuemin="0" aria-valuemax="100">{{ t }}%
        </div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ f }}%"
             aria-valuenow="{{ f }}" aria-valuemin="0" aria-valuemax="100">{{ f }}%
        </div>
        <div class="progress-bar bg-dark" role="progressbar" style="width: {{ n }}%"
             aria-valuenow="{{ n }}" aria-valuemin="0" aria-valuemax="100">{{ n }}%
        </div>
    </div>
    </br></br></br>
    <div class="p-4 mb-2 bg-success text-white"
         style="width: 6%; right: 76%; float:left; position: fixed;" align="left"></div>
    <h3 style="right: 66%; float:left; position: fixed;">Правильно</h3>
    <div class="p-4 mb-2 bg-danger text-white"
         style="width: 6%; right: 52%; float:left; position: fixed;" align="left"></div>
    <h3 style="float:left; right: 40%; position: fixed;">Неправильно</h3>
    <div class="p-4 mb-2 bg-dark text-white"
         style="width: 6%; right: 26%; float:left; position: fixed;" align="left"></div>
    <h3 style="float:right; right: 16%; position: fixed;">Без ответа</h3></br></br></br></br></br>
    <div align="center"><img {% if t < 50 %} src="/static/img/bad.png" {% elif t > 75 %} src="/static/img/perfect.png" {% else %}  src="/static/img/norm.png" {% endif %}width="40%"></div>
</div>
<div align="center" style="bottom: 5%; right: 40%; position: fixed;">
    <a href="/weblearn" class="btn btn-success btn-lg"><h3>Вернуться на главную</h3></a></div>
{% endblock %}