{% extends "template.html" %}
{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/user_images/{{ id }}.png" align="right" width="65" height="65"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Настройка пользователя</li>
            <li><a class="dropdown-item" href="/">Выйти</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="/weblearn">Посмотреть уроки</a></li>
        </ul>
    </div>
{% else %}
    </br></br></br>
{% endif %}
{% endblock %}
{% block content %}
<h3 align="center"><font color="blue">Тест завершён</font></h3>
<div align="center" style="bottom: 5%; right: 40%; position: fixed;">
    <a href="/weblearn" class="btn btn-success btn-lg"><h3>Вернуться на главную</h3></a></div>
{% endblock %}