{% extends "template.html" %}

{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/{{ id }}.png" align="right" width="60" height="60"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Настройка пользователя</li>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
{% else %}
    </br></br>
{% endif %}
{% endblock %}
{% block content %}
<div class="container" style="float: left; margin: 0em 0em 0em 2.4%; width: 71%;">
    <h1 align="center"><font color="blue">{{ lesson.title }}</font></h1>
    <br>
    <p align="center"><img
            src="/static/img/top_images/{{ lesson.id }}.png" width="50%" height="50%"
            align="top" alt="..."></p><br>
    <h3>{{ lesson.text }}</font></h3>
    <a href="/weblearn" style="float: left;" class="btn btn-danger">Назад</a>
</div>
<div class="container" style="padding: 5px; float: right; width: 25%;">
    {% for img in images %}<!-- margin: 0em 0em 0em 0em - Отступ сверху, справа, снизу и слева -->
    <br>
    <p align="right" style="right: 1.6%; top: 1.6%; margin: 0em 3% 0em 0em"><img
            src="/static/img/all_images/{{ img }}" width="90%" height="90%"
            align="top" alt="..."></p>
    {% endfor %}
</div>
<a href="/add_test" style="bottom: 2.4%; right: 1.6%; position: fixed;">
    <img src="/static/img/icons8-survey-48.png">
</a>
{% endblock %}