{% extends "base.html" %}


{% block dropdown %}
{% if id != 0 %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="/static/img/user_images/{{ id }}.png" align="right" width="65" height="65"
                 alt="" class="round">
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"><h4><font color="blue">{{ name }}</font></h4>
                Настройка пользователя</li>
            <li><a class="dropdown-item" href="/">Выйти</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Уроки</li>
            <li><a class="dropdown-item" href="/weblearn">Посмотреть уроки</a></li>
        </ul>
    </div>
{% else %}
    </br></br></br>
{% endif %}
{% endblock %}